{% extends "base.html" %}

{% block title %}О нас{% endblock %}
{% block body %}
    <div class="">
        {#        <div class="text-center">#}
        {#            <h1 class="text-uppercase">#}
        {#                <h5>Онлайн магазин мебели#}
        {#                    для#}
        {#                    быстрых и удобных покупок</h5>#}
        {#                <p></p>#}
        {#                <button class="btn btn-outline-secondary">Подробнее</button>#}
        {#            </h1>#}
        {#        </div>#}
        {#        <br>#}
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-12">
                <div style="position: relative;">
                    <img style=" width:100%; height: 600px; object-fit: cover"
                         src="https://a.allegroimg.com/original/114b97/d70c998d4baf94fb1720d9d2c9f2/Nowoczesny-Naroznik-LIQUID-Wersal-HIT-2020"
                         alt="">
                    <h1 style="position: absolute; color: white;margin-left: auto;margin-right:
                    auto;left: 0;right: 0;top: 200px;text-align: center;  font-size: 60px;font-weight: bold;">
                        LAVERY
                        <br>
                        <span style="font-size: 30px;font-weight: 500; ">Мебель для дома твоей мечты</span>
                    </h1>


                </div>

            </div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div class="row justify-content-center text-center">
                <div class="col-5">
                    <h3 class="">Что имеет наш магазин</h3>
                    <h5 style="">
                        Широкий ассортимент моделей, разнообразный ценовой диапазон и грамотное техническое описание
                        товара поможет каждому подобрать оптимальный вариант для дома или профессиональных нужд.
                    </h5>
                </div>
            </div>
            {#        <div class="container w-75">#}
            {#            <hr>#}
            {#        </div>#}

            <br>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img style="width:100%; height: 500px; object-fit: cover"
                             src="https://ak1.ostkcdn.com/images/products/is/images/direct/350350252cca43b2cd4adf496fa3705c9b3e220f/Corvus-Aleksis-Tufted-Chesterfield-3-seater-Sofa-with-Rolled-Arms.jpg"
                             alt="">
                    </div>
                    <div class="col-lg-4">
                        <img style="width:100%; height: 500px; object-fit: cover"
                             src="https://ak1.ostkcdn.com/images/products/is/images/direct/2db853efb7901c0b8f0b535d69fad3bdc0fa5b55/Ansonia-Contemporary-3-Seater-Velvet-Sofa-by-Christopher-Knight-Home.jpg"
                             alt="">
                    </div>
                    <div class="col-lg-4">
                        <img style="width:100%; height: 500px; object-fit: cover"
                             src="https://ak1.ostkcdn.com/images/products/is/images/direct/560b4e866ddfa9a72b14dff7cef0b24f3d198680/Reitz-Modern-Glam-Velvet-Channel-Stitch-3-Seater-Shell-Sofa-by-Christopher-Knight-Home.jpg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}