<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel="stylesheet" href="static/css/style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<!--<body style="background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);background-size: 1000%; ">-->
<style>
    /*SEARCH*/
    .form_search {
        position: relative;
        display: flex;
    }

    .cont {
        text-align: center
    }

    .full_quantity {
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        height: 16px;
        font-size: 10px;
        padding: 0 5px;
        position: absolute;
        margin-right: 2px;
    {#margin-top: 2px;#} right: 0;
        top: 0;
        background: linear-gradient(91.85deg, #ff5863 .1%, #eb212e 101.94%, #eb212e 0);
    }


    .form_search .fa-search {
        background-color: white;
        text-align: center;
        color: #9ca3af;
        position: absolute;
        top: 24px;
        left: 25px;
        transform: translate(-50%, -50%);
    }


    .left-pan {
        padding-left: 7px;
    }

    .left-pan i {

    }

    .form-input {

        height: 50px;
        text-indent: 33px;
        border-radius: 10px;
    }


</style>

<body>

<div class="wrapper">
    <!-- Navbar -->
    <header style="z-index: 100" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="/">
                <div style="font-weight: 600; font-size: 24px">Lavery</div>
            </a>

            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarButtonsExample"
                    aria-controls="navbarButtonsExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <div class="me-auto">
                </div>
                <form action="/search/" class="d-flex input-group w-auto">

                    <input
                            type="search"
                            name="text"
                            class="form-control"
                            placeholder=" Поиск..."
                            aria-label="Search"
                            value="{{ search_value }}"
                            required
                    />
                    <button
                            class="btn btn-secondary px-3"
                            type="submit"
                            data-mdb-ripple-color="dark"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                    </button>
                </form>

                <ul class="navbar-nav mb-2 mb-lg-0">

                    {% if session.admin == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Админ панель</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Мои заказы</a>
                    </li>
                    <li style="width: 90px"  class="nav-item dropdown me-3 me-lg-1">
                        <a class="nav-link me-2" href="/cart"><div >Корзина</div>
                            {% if session.count_product_cart is defined %}
                                <div class="cont">

                                    <div id="product_count" class="full_quantity">
                                        <p class="v-catalog-full_quantity_count">

                                            {{ session.count_product_cart }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </a>


                    </li>
                </ul>
                <div>

                    {% if session.logged_in == true %}
                        <li class="nav-item dropdown">
                            <a
                                    class=" dropdown-toggle  d-flex align-items-center "
                                    href="#"
                                    id="navbarDropdownMenuLink"
                                    role="button"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <div class="">
                                    {{ session.first_name }}
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="/profile">Мой профиль</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" style="color:#ff5863" href="/exit">Выйти</a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <a href="/login">
                            <button type="button" class="btn btn-primary px-3 me-2">
                                Войти
                            </button>

                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </header>
    <!-- Navbar -->
    <br>
    <main class="main">{% block body %}{% endblock %}</main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2022 Lavery</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Домой</a></li>
                <li class="nav-item"><a href="/cart" class="nav-link px-2 text-muted">Корзина</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О нас</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>