{% extends "base.html" %}

{% block title %}
Корзина
{% endblock %}

{% block body %}

<div class="container">
    <div style="text-align:center; margin-top:40px">
        {%if sess_login == true %}

        <div>
            {%for pro_cart in products_in_cart %}
<!--            <div style="color:#001a34; font-size:28px; font-weight: 700;">{{msg}}</div>-->

            <div style="margin-bottom:20px; display:flex; width:70%; border: none; border-radius:12px; box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
            padding:20px">
                <img style="width:10%" src="{{pro_cart.picture}}" alt=" ">
                <div>{{pro_cart.title}}</div>
            </div>
            {%endfor%}
        </div>
        {%else%}
        <div style="color:#001a34; font-size:28px; font-weight: 700;">Корзина пуста</div>
        <p></p>
        <div>
                <span>
                    Если в корзине были товары –
                    <a style="text-decoration:none;" href="{{ url_for('login') }}">войдите</a>
                    , чтобы посмотреть список.
                </span>
        </div>
        {%endif%}

    </div>
</div>
{% endblock %}