{% extends "base.html" %}

{% block title %}
Корзина
{% endblock %}

{% block body %}

<div class="container">
    <div>
        {%if sess_login.logged_in == true %}

        {%if products_in_cart is defined %}
<!--        <div style="color:#001a34; font-size:28px; font-weight: 700;">Корзина</div>-->

        <div class="cart_pay">
            <div>
                {%for pro_cart in products_in_cart %}
                <div class="ll">


                    <div class="ln">
                        <div class="mb">
                            <div class="me">
                                <a href="">
                                    <img style="height: 100%; width: 100%;" src="{{pro_cart.picture}}" alt=" ">
                                </a>
                            </div>
                        </div>
                        <div style="display:flex-column">
                            <a style="text-decoration:none; color: black;color: #001a34;font-size:20px" href="">{{pro_cart.title}}</a>
                            <br>
                            <div style="margin: 0 0 20px 0;">
                                <span style="color: #707f8d;" class="mb-2">Цвет:</span>
                                <span> {{pro_cart.color}}</span>
                            </div>
                            <div style="font-size:26px;font-weight: 600;">{{pro_cart.price}} ₽</div>
                            <span>Количество:</span>
                            <input id="{{pro_cart.product_id}}" onchange="change_count(this)" style="width:95.5px"
                                   type="number" min="1" max="20"
                                   class="form-control" name="{{ pro_cart.color_id }}" value="{{pro_cart.count}}"
                                   size="2"/>
                            <!--                            <div id="len"></div>-->

                            <script>
                                function change_count(sel) {
                                    $.ajax({
                                    type: "GET",
                                    url: "{{ url_for('change_count') }}",
<!--                                    contentType: 'application/json',-->
                                    data: {product_id: sel.id, color_id:sel.name, pro_count:sel.value},
                                    success: function(response) {
                                        var json = jQuery.parseJSON(response)
                                        $('#total_price').html(json.total_price)
                                        $('#total_count').html(json.total_count)
                                        console.log(response);
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                                }

                            </script>
                            <br>
                            <a style="color:red; float:left; text-decoration:none"
                               href="{{ url_for('.delete_product', product_id=pro_cart.product_id, color_id=pro_cart.color_id )}}">
                                <span style="display:flex; align-items:center;"></span> Удалить

                            </a>
                        </div>

                    </div>

                </div>

                {%endfor%}

            </div>
            <div>
                <div class="payment">
                    <div style="font-size:20px;font-weight: 600;">Ваша корзина</div>
                    <div id="total_count">Товары ({{total_count}})</div>
                    <hr>
                    <span>
                        <span style="font-size:20px;font-weight: 600; ">Общая стоимость</span>
                        <span style="font-size:20px;font-weight: 600; display:block; float:right" id="total_price">{{total_price}}</span>
                    </span>
                    <button style="margin-top:16px" class="btn btn-success w-100">Перейти к оформлению</button>
                </div>

            </div>

        </div>
        {%else%}
        <div style="color:#001a34; font-size:28px; font-weight: 700; text-align:center">Корзина пуста</div>
        <p></p>
        <div style="color:#001a34; text-align:center">Воспользуйтесь поиском, чтобы найти что вам нужно</div>
        {%endif%}
        {%else%}
        <div class="out_login">
            <div style="color:#001a34; font-size:28px; font-weight: 700;">Корзина пуста</div>
            <p></p>
            <div>
                <span>
                    Если в корзине были товары –
                    <a style="text-decoration:none;" href="{{ url_for('login') }}">войдите</a>
                    , чтобы посмотреть список.
                </span>
            </div>
        </div>
        {%endif%}

    </div>
</div>

<style>

.out_login{
    text-align:center;
}
.ll{
    border: none;
    border-radius:12px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    margin-bottom: 20px;
    padding: 20px;
}

.ln{
    display: flex;
}

.ll .me {
    height: 100%;
    margin-right: 20px;
    max-height: 260px;
    max-width: 260px;
    min-height: 260px;
    min-width: 260px;
    position: relative;
    width: 100%;
}

.cart_pay{
    display:flex;
}
.payment{
    padding:20px;
    margin: 0 20px;
    border: none;
    border-radius:12px;
    min-width: 300px;
    width:400px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
}

</style>
{% endblock %}