{% extends "base.html" %}

{% block title %}
    Корзина
{% endblock %}

{% block body %}
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

    </script>
    <div class="container">
        <div>
            {% if session.logged_in == true %}

                {% if products_in_cart is defined %}
                    <!--        <div style="color:#001a34; font-size:28px; font-weight: 700;">Корзина</div>-->

                    <div class="cart_pay">
                        <div>
                            {% for pro_cart in products_in_cart %}
                                <div class="ll">

                                    <div class="ln">
                                        <div class="mb">
                                            <div class="me">
                                                <a href="/product/{{ pro_cart.id }}/{{ pro_cart.color_id }}">
                                                    <img style=" border-radius: 8px; height: 100%; width: 100%;"
                                                         src="{{ pro_cart.picture }}"
                                                         alt=" ">
                                                </a>
                                            </div>
                                        </div>
                                        <div style="display: flex">
                                            <div>
                                                <a style="text-decoration:none;color: #001a34;font-size:18px"
                                                   href="">{{ pro_cart.title }}</a>

                                                <div>
                                                    <span style="color: #707f8d;" class="mb-2">Цвет:</span>
                                                    <span> {{ pro_cart.color }}</span>
                                                </div>
                                                <div style="font-size:26px;font-weight: 600;">{{ pro_cart.price }} ₽
                                                </div>
                                                <span>Количество:</span>
                                                <input id="{{ pro_cart.product_id }}" onchange="change_count(this)"
                                                       style="width:95.5px"
                                                       type="number" min="1" max="20"
                                                       class="form-control" name="{{ pro_cart.color_id }}"
                                                       value="{{ pro_cart.count }}"
                                                       size="2"/>
                                                <!--                            <div id="len"></div>-->

                                                <script>
                                                    function change_count(sel) {
                                                        $.ajax({
                                                            type: "GET",
                                                            url: "{{ url_for('change_count') }}",
                                                            <!--                                    contentType: 'application/json',-->
                                                            data: {
                                                                product_id: sel.id,
                                                                color_id: sel.name,
                                                                pro_count: sel.value
                                                            },
                                                            success: function (response) {
                                                                var json = jQuery.parseJSON(response)
                                                                $('#total_price').html(json.total_price)
                                                                $('#total_count').html('Товары (' + json.total_count + ')')
                                                                $('#product_count').html(json.total_count)
                                                                console.log(response);
                                                            },
                                                            error: function (error) {
                                                                console.log(error);
                                                            }
                                                        });
                                                    }


                                                </script>
                                                <br>

                                            </div>
                                            <form method="post">
                                                <div style="position:absolute; right:0; bottom:0">
                                                    {#                                            <div style="margin-left: auto; margin-right: 0;">#}
                                                    {#                                                    <a style="color:#FF4747; text-decoration:none;"#}
                                                    {#                                                       href="{{ url_for('.delete_product', product_id=pro_cart.product_id, color_id=pro_cart.color_id ) }}"></a>#}
                                                    {#                                                    <button type="button" class="btn btn-sm btn-danger">#}
                                                    <input type="text" name="product_id"
                                                           value="{{ pro_cart.product_id }}" hidden>
                                                    <input type="text" name="color_id" value="{{ pro_cart.color_id }}"
                                                           hidden>
                                                    <button style="color:#eb212e; display:flex; align-items:center;">
                                                        Удалить
                                                    </button>
                                                    {##}
                                                    {#                                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"#}
                                                    {#                                                                                                             fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0#}
                                                    {#                                                                                                                16 16">#}
                                                    {#                                                                                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>#}
                                                    {#                                                                                                        </svg>#}

                                                    {#                                                        </button>#}

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}

                        </div>
                        <div>
                            <div style="position: sticky; top: 104px;" class="payment">

                                {#                                <div style="display: flex; justify-content: space-between;">#}
                                <div style="font-size:20px;font-weight: 600;">Ваша корзина</div>

                                {#                                    <button style="color: #eb212e" title="Очистить корзину">#}
                                {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"#}
                                {#                                             fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">#}
                                {#                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>#}
                                {#                                        </svg>#}
                                {#                                    </button>#}
                                {#                                </div>#}
                                <div id="total_count">Товары ({{ total_count }})</div>
                                <hr>
                                <span style="font-size:20px;font-weight: 600; ">Общая стоимость</span>
                                <span style="font-size:20px;font-weight: 600; display:block; float:right"
                                      id="total_price">{{ total_price }}
                                </span>
                                <p></p>
                                <form method="POST">
                                    <input type="text" name="idOrder" value="{{ products_in_cart[0]['idOrder'] }}"
                                           hidden>
                                    <div class="btn-group w-100" role="group">
                                        <button type="button"
                                                class="btn btn-primary">
                                            Перейти к оформлению
                                        </button>
                                        <button class="btn btn-danger" title="Очистить корзину">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                 fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>


                            </div>

                        </div>

                    </div>
                {% else %}
                    <div>
                        <div style="color:#001a34; font-size:28px; font-weight: 700; text-align:center">Корзина пуста
                        </div>
                        <p></p>
                        <div style="color:#001a34; text-align:center">Воспользуйтесь поиском, чтобы найти что вам нужно
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="out_login">
                    <div style="color:#001a34; font-size:28px; font-weight: 700;">Корзина пуста</div>
                    <p></p>
                    <div>
                <span>
                    Если в корзине были товары –
                    <a style="text-decoration:none;" href="{{ url_for('login') }}">войдите</a>
                    , чтобы посмотреть список.
                </span>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    <style>
        @media (max-width: 750px) {
            .cart_pay {
                grid-template-columns: 1fr !important;
            }

            .ln {
                flex-direction: column;
                align-items: center;
            {#width: 90% #}
            }

            .product-box {
                width: 100%
            }

        }

        .out_login {
            text-align: center;
        }

        .ll {
            border: none;
            border-radius: 12px;
            box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
            margin-bottom: 20px;
            padding: 20px;
        }

        .ln {
            display: flex;
            position: relative;
            gap: 20px;
        }

        .ll .me {
            height: 100%;
            {#margin-right: 20px;#}
            max-height: 300px;
            max-width: 300px;
            min-height: 200px;
            min-width: 200px;
            width: 100%;

        }

        .cart_pay {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 20px;
        }

        .payment {
            padding: 20px;
            border: none;
            border-radius: 12px;
        {#max-width: 300px;#}{#min-width: 400px;#} box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
        }


    </style>
{% endblock %}