{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}
{% block body %}
<style>
    a {
        text-decoration: none;
    }
<!--    @media screen and (min-width: 1200px) {-->
<!--        .col-lg-six {-->
<!--            flex: 0 0 20%;-->
<!--            max-width: 20%;-->
<!--        }-->
<!--    }-->
<!--    @media screen and (max-width: 1000px) {-->
<!--        .card.card-product-grid {-->
<!--            background-color:black-->
<!--        }-->
<!--    }-->

    .card.card-product-grid {
        box-shadow: 0 1px 2px rgba(51 51 51 / 7%);
    }

    .card.card-product-grid .img-wrap {
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .card-product-grid .img-wrap {
<!--        max-height: 300px;-->
    }

    [class*=card-product-grid] .img-wrap {
        position: relative;
    }

    .img-wrap {
        text-align: center;
        overflow: hidden;
        display: block;
    }

    [class*=card-product-grid] .img-wrap img {
        margin-top: -10%;
        margin-bottom: -10%;
        height: auto;
        max-width: 100%;
        width: auto;
    }

    .mix-blend-mode {

        mix-blend-mode: multiply;
    }

    .bg-gray-light {
<!--        background-color: #e9ecef;-->
<!--        background-color: #e9ecef85;-->
    }

    .card-product-grid .card-product-info {
        padding: 0.25rem 0.50rem;
        overflow: hidden;
    }

    .card-product-grid .title {
        color: #6a6f74;
        height: 3rem;
        font-weight: 600;
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0.15rem;
    }

    [class*=card-product-grid] .price {
        color: #383d43;
        font-weight: 600;

    }

    .card-product-grid .topbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        text-align: right;
        padding: 1px 6px;
    }

    .card-product-grid .topbar .tag-discount {
        background-color: #e13454;
        border-radius: 0.25rem;
        padding: 0.32rem 0.7rem;
    }
    .sticky {
        position: sticky;
        top: 4.5em;
    }
<!--    .mix-blend-mode {-->
<!--       transition: 0.5s ease-in-out;-->
<!--    }-->
<!--    .mix-blend-mode:hover {-->
<!--       transform: scale(1.05);-->
<!--    }-->


</style>
<!--<div class="container">-->
<!--<div class="row flex-no-wrap"></div>-->

<div class="d-grid gap-2 " style="grid-template-columns: 1fr 3fr; padding-left: 65px; padding-right: 65px;">
    <div class="sticky bg-light border rounded-3" style="left: 0; width: 340px; height: 100vh;">

        <br><br>Сортировка<br><br>
    </div>
    <!--    <div class="bg-light border rounded-3">-->
    <!--        <div style="margin:10px">-->
    <div class="row">
        {%for product in products%}
        <div class="col-6 col-sm-12 col-md-4 col-lg-six mb-4">
            <!--            <a href="/product/{{product.id}}">-->
            <figure class="card card-product-grid">
                <div class="img-wrap rounded bg-gray-light">
                    <!--                    <span class="topbar">-->
                    <!--                        <span class="badge tag-discount">-20%</span>-->
                    <!--                    </span>-->
                    <span class="overlay"></span>
                    <a href="/product/{{product.id}}/{{product.color_id}}">
                        <img class="mix-blend-mode"
                             src="{{product.picture}}"
                             alt=" ">
                    </a>
                </div>
                <div>
                </div>
                <figcaption class="card-product-info">
                    <a href="/product/{{product.id}}/{{product.color_id}}" class="title">{{product.title}}</a>
                    <div class="price-wrap">
                        <span class="price">{{product.price}} ₽</span>
                        <!--                        <del class="discount-price">$23.95</del>-->
                    </div>
                    <a href="/product/{{product.id}}/{{product.color_id}}">
                        <button class="btn btn-sm btn-outline-danger w-100 mt-2">Приобрести</button>
                    </a>

                </figcaption>
            </figure>
        </div>
        {%endfor%}


    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div style="margin: 5px" class="row g-5">-->
<!--        <div style="background-color:gray" class="col-4">-->
<!--            <div class="col-content">-->
<!--                <h1>Товар</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}