{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}
{% block body %}
    <style>
        .bg-light {
            z-index: 1;
        }

        .banner-img {
            border-radius: 8px;
            width: 100%;
            max-height:700px;
            object-fit: cover;
        }
    </style>
    <div class="container">
        <div id="carouselPictures" class="carousel slide"
             data-bs-ride="carousel">
            <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2009&q=80"
                         alt=" " class="banner-img">

                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                         alt="modern sunglasses" class="banner-img">
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1512212621149-107ffe572d2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                         alt="modern sunglasses" class="banner-img">
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures"
                        data-bs-slide="prev">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                         fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures"
                        data-bs-slide="next">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                         fill="currentColor"
                         class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    <p></p>
        <div class="product-container">
            <div class="container">
                <div class="product-main">
                    <h4 style="font-weight:  600"> Каталог мебели </h4>
                    <p></p>
                    <div class="product-grid">
                        {% for product in products %}

                            <div class="showcase bg-light">
                                <div class="showcase-banner">
                                    <a style="text-decoration:none;font-size:16px;font-weight: 600;color: var(--bs-gray-dark)"
                                       href="/product/{{ product.id }}/{{ product.color_id }}">
                                        <img style="z-index:-100" src="{{ product.picture }}"
                                             alt="MEN Yarn Fleece Full-Zip Jacket"
                                             class="product-img default"
                                             width="300">
                                        <img style="z-index:-100" src="{{ product.picture }}"
                                             alt="MEN Yarn Fleece Full-Zip Jacket"
                                             class="product-img hover"
                                             width="300">
                                    </a>

                                </div>

                                <div class="showcase-content">
                                    <!--                        <a href="#" class="showcase-category">Нет в наличии</a>-->
                                    <a style="text-decoration:none;font-size:16px;font-weight: 600;color: var(--bs-gray-dark)"
                                       href="/product/{{ product.id }}/{{ product.color_id }}">{{ product.title }}</a>

                                    <div class="showcase-rating">
                                        <div class="price-box">
                                            <p style="margin-top:6px;font-size:20px;font-weight: 600;color: var(--bs-gray-700)"
                                               class="">{{ product.price }} ₽</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}