{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<div class="container mt-5">
    <a href="/exit"><button type="submit">Выход</button></a>
    <p><h1 style="text-align:center">Дисциплины</h1></p>
    <h1>Зашел, {{msg}}-оджа😎😎</h1>

    {% for item in data %}
    <div style="display: flex; justify-content: center;">
        <div class="btn-group">

            <a href="/lessons/{{item.id}}">
                <input  type="submit" class='btn alert alert-info' value="{{item.title}}" style="border-radius: 10px 0px 0px 10px"/>
            </a>
            <a class="btn alert alert-success" href="red/{{item.id}}" style="border-radius: 0px">
                <i class="fa-solid fa-pen"></i>
            </a>

            <a class="btn alert alert-danger" href="del/{{item.id}}" style="border-radius: 0px 10px 10px 0px" >

                <i class="fa-solid fa-trash-can"></i>
            </a>

        </div>

    </div>
    {% endfor %}
    <p style="display: flex; justify-content: center;><a">
        <a href="/create_lesson">
            <input type="submit" class='btn alert alert-primary' value="Добавить"/>
        </a>
    </p>
</div>
{% endblock %}
