<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel="stylesheet" href="static/css/style.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center" style="font-weight: 600; margin-top:60px">LAVERY</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">

                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login"
                               role="tab"
                               aria-controls="pills-login" aria-selected="true">Авторизация</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register"
                               role="tab"
                               aria-controls="pills-register" aria-selected="false">Регистрация</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->

                    <!-- Pills content -->
                    <div class="tab-content">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <li class="alert alert-{{ category }}">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                             aria-labelledby="tab-login">
                            <form method="POST">


                                <!-- Email input -->
                                <div class="form-floating mb-4">
                                    <input type="email" name="email" id="loginName" class="form-control"
                                           placeholder="Пароль" required/>
                                    <label class="form-label" for="loginName">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-floating mb-4">
                                    <input type="password" name="password" id="loginPassword"
                                           class="form-control"
                                           placeholder="Пароль" required/>
                                    <label class="form-label" for="loginPassword">Пароль</label>
                                </div>

                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-start">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-3 mb-md-0">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="loginCheck"/>
                                            <label class="form-check-label" for="loginCheck"> Запомнить меня</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 d-flex justify-content-end">
                                        <!-- Simple link -->
                                        <a href="#!">Забыл пароль?</a>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-register" role="tabpanel"
                             aria-labelledby="tab-register">
                            <form action="/reg" method="POST">
                                <!-- first_name input -->
                                <div class="form-floating mb-4">
                                    <input type="text" id="registerName" class="form-control" placeholder="Имя"
                                           name="first_name" required/>
                                    <label class="form-label" for="registerName">Имя</label>
                                </div>

                                <!-- last_name input -->
                                <div class="form-floating mb-4">
                                    <input type="text" id="registerUsername" class="form-control"
                                           name="last_name"
                                           placeholder="Фамилия" required/>
                                    <label class="form-label" for="registerUsername">Фамилия</label>
                                </div>

                                <!-- Email input -->
                                <div class="form-floating mb-4">
                                    <input type="email" id="registerEmail" class="form-control" name="email_reg"
                                           placeholder="Email" required/>
                                    <label class="form-label" for="registerEmail">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-floating mb-4">
                                    <input type="password" id="registerPassword" class="form-control"
                                           name="password_reg" placeholder="Пароль" required/>
                                    <label class="form-label" for="registerPassword">Пароль</label>
                                </div>
                                {##}
                                {#                                <!-- Repeat Password input -->#}
                                {#                                <div class="form-outline mb-4">#}
                                {#                                    <input type="password" id="registerRepeatPassword" class="form-control"/>#}
                                {#                                    <label class="form-label" for="registerRepeatPassword">Repeat#}
                                {#                                        password</label>#}
                                {#                                </div>#}

                                <!-- Checkbox -->
                                {#                                <div class="form-check d-flex justify-content-center mb-4">#}
                                {#                                    <input class="form-check-input me-2" type="checkbox" value=""#}
                                {#                                           id="registerCheck"#}
                                {#                                           checked#}
                                {#                                           aria-describedby="registerCheckHelpText"/>#}
                                {#                                    <label class="form-check-label" for="registerCheck">#}
                                {#                                        Я прочитал и согласен с условиями#}
                                {#                                    </label>#}
                                {#                                </div>#}

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-3">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pills content -->
</body>
</html>